{% extends "_base.html" %}

{% block content %}
<div class="row">
    <div class="col-4">
        <div class="card w-100">
            <div class="card-header">
                Chat
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item h-50 mh-50 overflow-auto" id="messages">
                </li>
                <li class="list-group-item">
                    <h4>Debators are not allowed to send messages</h4>
                </li>

            </ul>
        </div>
    </div>
    <div class="col-8">
        <div class="card w-100">
            <div class="card-header">
                Active Debators
            </div>
            <div class="card-body" id="debator-list">
                {% for debator in debate.get_debators() %}
                    {% if debator.username != current_user.username %}
                        <button id="{{ debator.username }}" class="btn btn-light">{{ debator.username }}</button>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <br>
        {#            <div class="card w-100" id="question-show" style="display: none">#}
        {#                <div class="card-header">#}
        {#                    Question in progress#}
        {#                </div>#}
        {#                <div class="card-body">#}
        {#                    <p>Question: <span id="current-question"></span></p>#}
        {#                    <p>Question directed at:#}
        {#                        <button class="btn btn-light" id="current-questioned"></button>#}
        {#                    </p>#}
        {#                    <div class="timer">#}
        {#                        Approximate Time: <span id="current-timer">5s</span>#}
        {#                    </div>#}
        {#                </div>#}
        {##}
        {#            </div>#}

        <div class="card w-100" id="question-show" style="display: none">
            <div class="card-header">
                Question in progress
            </div>
            <div class="card-body">
                <p>Question: <span id="current-question"></span></p>
                <p>Question directed at:
                    <button class="btn btn-light" id="current-questioned"></button>
                </p>
                <div class="timer">
                    Timer: <span id="current-timer">5s</span>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{# javascript #}
{% block extra_js %}
    <script>
        var socket_room = "{{ debate.url }}";
        var debate_status = eval("{{ debate.active }}".toLowerCase());
        var username = "{{ current_user.username }}";
        var socket;
        var timer = null;
        var question_in_progress = false;
    </script>
    {##}
    <script type="text/javascript" src="{{ url_for('static', filename='js/debate/participate.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/debate/chat.js') }}"></script>
{% endblock extra_js %}