{% extends "_base.html" %}

{% block content %}
    <br>
    <div class="row">
        <div class="col-5"><br></div>
        <div class="col">
            <img src="https://i.imgur.com/bZHDTBP.png" class="w-100" alt="">
        </div>
        <div class="col-5"><br></div>
    </div>
    <br>
    <h1 class="text-center">BANTR</h1>
    <h6 class="text-center"><i>An open forum for discussion.</i></h6>
    <br>
    <br>
    <br>
    <br>
    <div class="text-center">
        <p>Powered by:</p>
        <img src="https://cdn-images-1.medium.com/max/438/1*0G5zu7CnXdMT9pGbYUTQLQ.png" width="15g%" alt="">
        <img src="https://www.programwitherik.com/content/images/2017/01/socket-e1434850599985.png" width="20%" alt="">
        <img src="https://live.paloaltonetworks.com/html/assets/microsoft-azure-logo.png" width="20%" alt="">
    </div>


{% endblock content %}