{% extends "_base.html" %}
{% from "_macros.html" import render_field %}

{% block content %}
    <h2>Welcome <code>{{ current_user.username }}</code></h2>
    <hr>
    <h4>Join / Spectate</h4>
    {% if avaliable|length !=0 %}
            <table class="table table-striped">
            <thead>
                <th>Title</th>
                <th>Description</th>
                <th>Created by</th>
                <th>Action</th>
            </thead>
            <tbody>
                {% for debate in avaliable %}
                    <tr>
                        <th>{{ debate.title }}</th>
                        <th>{{ debate.description }}</th>
                        <th><i>{{ debate.created_by.username }}</i></th>
                        <th>
                            <a href="#" class="btn btn-success" role="button">Join</a>
                            <a href="/debate/{{ debate.url }}/spectate" class="btn btn-info" role="button">Spectate</a>
                        </th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
         <p>No public debates avaliable</p>
    {% endif %}
    <h4>Moderate</h4>
    <div class="table-responsive">
        {% if current_user.debates|length != 0 %}
        <table class="table table-striped">
            <thead>
                <th>Title</th>
                <th>Description</th>
                <th>Action</th>
            </thead>
            <tbody>
                {% for debate in current_user.debates %}
                    <tr>
                        <th>{{ debate.title }}</th>
                        <th>{{ debate.description }}</th>
                        <th>
                            <a href="/debate/{{ debate.url }}/moderate" class="btn btn-info" role="button">Moderate</a>
                            <a onclick="return confirm('Delete {{ debate.title }} ?');" href="/user/debate/{{ debate.url }}/delete" class="btn btn-danger" role="button">Delete</a>
                        </th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>You don't moderate any debates right now. Feel free to create one below!</p>
        {% endif %}
    </div>
    <h4>Create</h4>
    <a href="{{ url_for('user.newdebate') }}" class="btn btn-info" role="button">Create New Debate</a>

{% endblock content %}