<html>
<head>

    <title>{{ title }}</title>

    {# meta tags #}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ivan Galakhov and Yash Parikh">

    {# stylesheets #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <style>
    @import url('https://fonts.googleapis.com/css?family=Merriweather');
    </style>

</head>
<body style="font-family: 'Merriweather', serif;">

{# navigation bar goes here #}

<dv class="wrapper">

{#    <!-- navigation -->#}
{#    <nav class="navbar fixed-top navbar-light bg-light">#}
{#      <a class="navbar-brand" href="#">Fixed top</a>#}
{#    </nav>#}
    <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark justify-content-between">
        <a class="navbar-brand" href="#">Debatr</a>

        {% if current_user.is_anonymous %}
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.index') }}"><i class="fas fa-home"></i> Welcome</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.signup') }}"><i class="fas fa-user-plus"></i> Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.login') }}"><i class="fas fa-sign-in-alt"></i> Log in</a>
                    </li>
                </ul>
              </div>
        {% else %}
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i>Log out</a>
                    </li>
                </ul>
              </div>
        {% endif %}
    </nav>

    <!-- Page Content -->
    <main role="main" class="container">
        <br>
        <div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == 'message' %}
                            <div class="alert alert-warning" role="alert">
                        {% else %}
                            <div class="alert alert-{{ category }}" role="alert">
                        {% endif %}
                    {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {% block content %}

            {% endblock content %}
        </div>
    </div>


    {# javascript #}
    <script src="https://code.jquery.com/jquery.min.js"
            integrity="sha384-omOsxWjfyCQN/QkJa5gsN9F1sKX/IRXsLKvv7uHdTUYqkonYl4B/SrIIrNmrnJDj"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

</body>

</html>